<!DOCTYPE html>
<html>
<head>
  <title>Http Verb Examples</title>
</head>
<body>

  @RenderBody()

  <script src="~/scripts/libs/jquery-3.2.1.min.js"></script>
  <script src="~/scripts/libs/jquery.methodOverride.js"></script>
  <script src="~/scripts/main.js"></script>

</body>
</html>