<h1>Http Verb Examples</h1>

<form asp-controller="Person" asp-action="Post" method="post">
  <fieldset>
    <legend>Post</legend>
    <input name="FirstName" placeholder="first name">
    <input name="LastName" placeholder="last name">
    <div>
      <button>Submit</button>
    </div>
  </fieldset>
</form>

<form asp-controller="Person" asp-action="Put" method="put">
  <fieldset>
    <legend>Put</legend>
    <input name="FirstName" placeholder="first name">
    <input name="LastName" placeholder="last name">
    <div>
      <button>Submit</button>
    </div>
  </fieldset>
</form>

<form asp-controller="Person" asp-action="Patch" method="patch">
  <fieldset>
    <legend>Patch</legend>
    <input name="FirstName" placeholder="first name">
    <input name="LastName" placeholder="last name">
    <div>
      <button>Submit</button>
    </div>
  </fieldset>
</form>

<form asp-controller="Person" asp-action="Delete" method="delete">
  <fieldset>
    <legend>Delete</legend>
    <input name="FirstName" placeholder="first name">
    <input name="LastName" placeholder="last name">
    <div>
      <button>Submit</button>
    </div>
  </fieldset>
</form>
